html,
body {
  /*background-image: url('./ParedAnimada.png');
    */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: -2;
}

.App {
  text-align: center;
}

.divNav {
  margin: 25px;
  justify-content: center;
  text-align: center;
}
