.form .Form {
    margin: 35px 75px 75px 75px;
    padding: 25px;
    display: grid;
    grid-template-columns: 100%;
    gap: 25px;
    background-color: #0000004f;
    border-radius: 25px;
}
.form .Form .labelNameImage {
    display: grid;
    grid-template-columns: 40% 30%;
    font-size: 20px;
    font-weight: bold;
}
.form .Form .inputNameImage {
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 30px;
    background-color: transparent;
}
.form .Form .divHeightWeight {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}
.form .Form .divHeightWeight .labelHeightWeight {
    margin: 10px;
}
.form .Form .divHeightWeight .labelHeightWeight .inputHeightWeight {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.form .Form .labelTemperaments {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    gap: 15px;
}
.form .Form .labelTemperaments div .inputNameImage {
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 30px;
    background-color: transparent;
}
.form .Form .labelTemperaments div .addTemperaments {
    margin: 5px 10px 5px 10px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 900;
    border-style: dashed;
    background-color: transparent;
}
.form .Form .labelTemperaments div .addTemperaments:hover {
    cursor: pointer;
}
.form .Form .labelTemperaments .containerDivTemperaments {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.form .Form .labelTemperaments .containerDivTemperaments .divTemperaments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    background-color: #76767680;
    border: 2px solid black;
    border-radius: 15px;
}
.form .Form .labelTemperaments .containerDivTemperaments .divTemperaments .deleteTemperaments {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: red;
    border: none;
}
.form .Form .labelTemperaments .containerDivTemperaments .divTemperaments .deleteTemperaments:hover {
    cursor: pointer;
}
.form .submitDog {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: bold;
    border-style: dashed;
    border-radius: 12px;
    background-color: transparent;
}
.form .submitDog:hover {
    cursor: pointer;
}

video {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100vw;
}