.dogs {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: space-around;
}
.dogs div video {
    position: fixed!important;
    left: 0!important;
    top: 0!important;
    z-index: -1!important;
    width: 100vw!important;
}
.dogs div .cardsContainer {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.dogs div .filters {
    display: flex;
    margin: 20px 40px 10px 40px;
}
.dogs div .filters label .inputByName {
    width: 50%;
    background-color: #faebd700;
    border-style: dashed;
}
.dogs div .filters label .buttonByName {
    width: 50%;
    height: 50%;
    margin: 5px;
    background-color: #bbb4b2;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}
.dogs div .filters label .buttonByName .buttonByName:hover {
    cursor: pointer;
}
.dogs div .filters .labelByTemperament {
    font-size: 18px;
    font-weight: bold;
}
.dogs div .filters .labelByTemperament .selectByTemperament {
    width: 50%;
    height: 50%;
    border-style: dashed;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
}
.dogs div .filters .labelByTemperament .selectByTemperament::-ms-expand {
    display: none;
}
.dogs div .filters .labelByTemperament .selectByTemperament:hover {
    border-color: #888;
    cursor: pointer;
}
.dogs div .filters .labelByTemperament .selectByTemperament:focus {
    border-color: #888;
    cursor: pointer;
    box-shadow: 0 0 1px 1px;
}
.dogs div .filters .labelByTemperament .selectByTemperament option {
    font-weight: bold;
}
.dogs div .filters .labelByTemperament .selectByTemperament select {
    background-color: black;
    color: white;
}
.dogs div .filters .sortDogs {
    margin: 2px 3px 2px 3px;
    background-color: transparent;
    border-style: double;
    border-color: #767676;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
}
.dogs div .filters .sortDogs:hover {
    cursor: pointer;
}
.dogs div div .buttonPag {
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    margin: 5px;
    border: 2px solid black;
    border-top-left-radius: 25px;
}
.dogs div div .buttonPag:hover {
    cursor: pointer;
}
.dogs div div .buttonPrevNext {
    font-size: 40px;
    font-weight: 900;
    border: none;
    background: none;
    margin: 0px 5px 0px 5px;
}
.dogs div div .buttonPrevNext:hover {
    cursor: pointer;
}


